/* 웹 폰트(web-font) */
/* 
   모든 브라우저에서 보는 폰트 통일
   폰트를 다운로드하는 것이 아니라 link 태그에 걸려있는 주소에서 폰트를 가져오는 방식
   보통 기본 폰트는 body 태그에 작성 
*/

/* 구글 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=Sunflower:wght@300&display=swap');

/* 눈누 */
@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 구글 웹폰트 */
h1 {
    font-family: "Hahmlet", serif;
}

h2 {
    font-family: "Sunflower", sans-serif;
}

/* 눈누 */
div {
    font-family: 'HSSanTokki20-Regular';
    font-size: 20px;
    /* 색상 */
    /* 글자색 */
    color: lightyellow;
    /* 배경색 */
    background-color: lightpink;
}

.tang {
    color: orangered;
    /* 배경 그라데이션 */
    background: linear-gradient(lightyellow, lightpink);
    /* background: linear-gradient(230deg, lightyellow, lightpink); */
    /* background: radial-gradient(lightblue, lightgreen); */
    
    /* 폰트 크기 : 기본 사이즈는 16px */
    font-size: 30px;
    /* 폰트 굵기 : light, bold, bolder 혹은 100 ~ 900 사이 숫자로 지정 */
    font-weight: bold;
    /* 폰트 모양 : normal, italic, oblique */
    font-style: oblique 30deg;
    
    /* 글자 정렬 : center, left, right, justify(양쪽 정렬) */
    text-align: center;
    /* 글자선 : underline, line-through, overline */
    text-decoration: underline;
    /* text-decoration: line-through; */
    /* 줄 높이(줄간격) : px, 1, 2...*/
    line-height: 3;
    
    
    /* 크기 : width, height, min-width, max-width, min-height, max-height */
    /* max, min 이런거 붙은 애들은 반응형 웹 제작시 사용 */
    width: 600px;
    height: 200px;
    
    /* 테두리 : border */
    /* 테두리 종류 : border-style, 테두리 두께 : border-width, 테두리 색상 : border-color */
    /* 테두리 단축 프로퍼티 */
    /* border : 두께 스타일 색상 */
    border: 10px solid lightblue;
    /* 한쪽 테두리만 : top, botton, left, right */
    /* border-top, border-bottom, border-left, border-right */

    /* 모서리 둥굴게 : border-radius */
    /* border-radius: 30px; */
    /* 네 방향 다 다르게 설정 가능 -> 시계방향으로 설정 top-left top-right bottom-right bottom-left */
    /* border-top-left-radius: ; */
    /* border-bottom-left-radius: ; */
    /* border-radius: 10px 20px 0 30%; */
    /* 원만들땐 50% */
    border-radius: 50%;
}

.ma {

    width: 500px;
    height: 200px;
    /* 여백 */
    /* padding : top, right, bottom, left  */
    /* margin : top, right, bottom, left  */

    /* 방향별 속성 단축형식 */
    /* 
        margin : 사이즈 -> 상, 우, 하, 좌 모두 적용
        margin : 사이즈 사이즈 -> 상하, 좌우로 적용
        margin : 사이즈 사이즈 사이즈 -> 상 좌우 하로 적용
        margin : 사이즈 사이즈 사이즈 사이즈 -> 상, 우, 하, 좌 순으로 적용(시계방향)
        padding 도 같은 원리로 적용된다!
    */
    margin: 50px 20px 40px 30px;
    padding: 20px 35px;
}

/* 배경이미지 속성 */
.bgI {
    height: 500px;
    /* 배경 이미지 없음  */
    /* background-image: none; */
    /* 배경 이미지 경로 */
    background-image: url('./img/bono.webp');
    /* 배경 이미지 반복 : repeat 가 디폴트 값 */
    /* background-repeat: repeat ; */
    /* background-repeat: repeat-x; */
    background-repeat: no-repeat;
    /* 배경 이미지 위치 : 포지션 키워드 또는 픽셀 단위로 지정 가능 */
    background-position: center;
    /* 배경 이미지 크기 : auto(이미지 실제 크기), contain, cover, 사아즈 단위로 지정 등 */
    /* cover : 비율 유지, 요소의 더 넓은 너비에 맞춤 */
    /* contain : 비율 유지, 요소의 더 짧은 너비에 맞춤 */
    background-size: contain;
    /* 배경 이미지 스크롤 */
    /* background-attachment : scroll, fixed, local */
}




