@import url(reset.css);
@import url(common.css);
@import url(variable.css);



/* 간단한 스타일링 */
h2 {
    font-size: 25px;
    padding : 20px 0;
}

.swiper-slide img{
    width: 100%;
}

#players {
    margin-top: 30px;
}

#players ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#players li {
    width: max(10vw, 200px);
    overflow: hidden;
    border-radius: 30px;
    cursor: pointer;
}

#players li .cookie-img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#players li .team{
    position: absolute;
    width: 140px;
    top: 5px;
    left: 10px;
}

.cookie {
    position: relative;
}

.cookie figcaption {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-shadow: var(--txtBorder);
}

.cookie.beast, #teams .beast h3 {
    background: var(--beast);
}

.cookie.dragon, #teams .dragon h3 {
    background: var(--dragon);
}

.cookie.legendary, #teams .legendary h3 {
    background: var(--legendary);
}
.cookie.ancient, #teams .ancient h3 {
    background: var(--ancient);
}

.player-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    min-height: 500px;
}

.player-card > figure, .player-card > article {
    width: 50%;
}

.player-card > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 20px 0;
}

.player-img {
    height: 60vh;
}

.player-name {
    color : #fff;
    text-shadow: var(--txtBorder);
    font-size: 20px;
}

.player-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 15px;
    color : #fff;
    text-shadow: var(--txtBorder);
}

.player-info img {
    height: 25px;
}

.player-team-img {
    height: 45px;
    text-align: center;
    margin-top: 30px;
}

#addCookie {    
    width: 300px;
    padding : 30px 20px;
    margin: 20px auto;
    border-radius: 20px;
    border: 1px solid #ccc;;
}

#addCookie fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

#addCookie legend {
    font-size: 18px;
    padding-bottom : 10px;
}

#addCookie button {
    width: 50%;
    text-align: center;
    padding : 10px 0;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #ccc;
    margin-top: 10px;
}

.teams-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap : 30px 0;
}

.team {
    color : #fff;
    text-shadow: var(--txtBorder);
    text-align: center;
    font-size: 20px;
    padding : 10px 0;
}

.team h3 {
    padding : 5px 0;
    border-radius: 20px;
    margin-bottom: 10px;
}

.team .cookie-icon {
    display: flex;
    gap : 0 5px;
}

.cookie-icon li {
    cursor: pointer;
}


@media (max-width : 992px) {
    .player-card {
        flex-direction: column;
    }

    .player-card > figure {
        width: 100%;
    }

    .player-img {
        height: auto;
        width: 100%;
    }
}