<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/static/css/sign.css" />
</head>
<body>
    <h1>로그인</h1>
    <form name="form_info" action="/user/profile" method="POST">
        <input type="hidden" name="userid">
    </form>
    <form name="form-login" id="form-login" class="sign-form">
        <input
          name="userid"
          id="userid"
          type="text"
          required
          placeholder="ID를 입력해주세요"
          minlength="5"
        />
        <input
          name="password"
          type="password"
          required
          placeholder="비밀번호를 입력해주세요"
          minlength="8"
        />
        <button type="button">로그인</button>
      </form>
      <a href="/user/signup">가입하기</a>
</body>
</html>