$body : 
"body1" rgb(127, 0, 166) 100px 100px,  
"body2" rgb(172, 36, 206) 160px 150px, 
"body3" rgb(180, 52, 231) 200px 190px,
"body4" rgb(218, 47, 233) 220px 240px, 
"body5" rgb(230, 140, 253) 280px 280px;

.larva {
    position: relative;
        .body {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            @each $name, $color, $x, $y in $body {
                &.#{$name} {
                    background-color: $color;
                    left : $x;
                    top : $y;
                }
            }
        }
        .eye {
            border-radius: 50%;
            position: absolute;
            &.eye-white {
                background-color: #fff;
                width: 50px;
                height: 50px;
            }
            &.eye-black {
                background-color: black;
                width: 20px;
                height: 20px;
                top: 12px;
                left: 10px;
            }
        }
        .grass {
            position: absolute;
            top: 300px;
            left: 0;
            background-color: green;
            width: 500px;
            height: 100px;
            z-index: -1;
        }
    }
    
