<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Cookie Talk</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="welcome-header">
      <h1 class="welcome-header__title">ํ์ํฉ๋๋ค!</h1>
      <img
        src="/static/img/pearl.webp"
        class="welcome-header__img"
      />
      <% if(name){ %>
        <h2 class="welcome-header__subtitle"><%= name%>๋ ์ด์์ค์ธ์! ๐</h2>
      <% } else { %>
        <h2 class="welcome-header__subtitle">๋ก๊ทธ์ธ ํด์ฃผ์ธ์ ๐</h2>
      <% } %>
    </div>
    <ul class="sign-group">
        <% if(name){ %>
          <li>
              <a href="/profile">๋ด ํ๋กํ</a>
          </li>
          <li>
              <a href="/users">์์ฒดํ์</a>
          </li>
          <li>
              <a href="/logout">๋ก๊ทธ์์</a>
          </li>
        <% } else { %>
            <li>
                <a href="/register">ํ์๊ฐ์</a>
            </li>
            <li>
                <a href="/login">๋ก๊ทธ์ธ</a>
            </li>
        <% } %>
    </ul>
    <script
      src="https://kit.fontawesome.com/2041668019.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
