<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보</title>
    <link rel="stylesheet" href="/static/css/sign.css" />
    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>        
</head>
<body>
    <h1>회원 정보</h1>
    <a href="/">홈으로 가기</a>
    <form name="form-profile" id="form-profile" class="sign-form">
        <input
          name="userid"
          id="userid"
          type="text"
          minlength="4"
          value = "<%= userid%>"
          disabled
        />
        <span class="msg"></span>
        <input
          name="pw"
          type="password"
          required
          minlength="4"
          value ="<%= pw%>"
        />
        <span class="msg"></span>
        <input
          name="name"
          id="name"
          type="text"
          required
          minlength="2"
          value = "<%= name%>"
        />
        <span class="msg"></span>
        <div class="btn-group">
            <button type="button" id="edit" onclick="editProfile()">수정하기</button>
            <button type="button" id="delete" onclick="deleteProfile()">회원탈퇴</button>
        </div>
      </form>
      <script src="/static/js/user.js"></script>
</body>
</html>