<div id="header">
    <header>
        <h1>
            <a href="/">
                <img src="/static/img/logo_eng.png" alt="logo">
            </a>
        </h1>
        <nav>
            <ul>
                <li>
                    <a href="/teams">쿠키 등급 목록</a>
                </li>
                <li>
                    <a href="/players">쿠키 목록</a>
                </li>
            </ul>
        </nav>
    </header>
</div>