<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <!-- 다른 view 파일을 불러올때 사용 하는 include ejs문법 -->
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/content.ejs') %>
    <%- include('./partials/footer.ejs') %>
</body>
</html>