<div class="content">
    <h1>All Blogs | <%= title%></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero est fuga illum expedita dolorem iure ad consequuntur, eum possimus doloribus. Corporis laudantium tenetur fuga, quos ad amet perferendis facere architecto?</p>
</div>