<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | <%= title%></title>
    <!-- css 경로는 상대경로가 아닌 최종적으로 들어있는 경로로 넣어야함 -->
    <link rel="stylesheet" href="/style.css">
</head>