<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <div id="main">
        <main>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="/static/img/swiper/25.jpg" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="/static/img/swiper/26.png" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="/static/img/swiper/27.png" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="/static/img/swiper/28.png" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="/static/img/swiper/29.png" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="/static/img/swiper/30.png" alt="">
                  </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
        </main>
    </div>
    <%- include('./partials/footer.ejs') %>
    <script
    src="https://kit.fontawesome.com/2041668019.js"
    crossorigin="anonymous"
  ></script>
</body>
</html>